
.header-search{
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
div.header-container.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-navs{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 15px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.header-left Nav , div.nav-item{
    cursor: pointer;
}
.header-right{
    display: flex;
    gap: 20px;
}

.header-left Form{
    display: flex;
}

Form .search-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
Form .header-search-icon{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 767px) {
    .header-navs {
      align-items: flex-start;
    }
    .navbar-nav{
        margin-bottom: 10px !important;
    }
  }