/* Sidebar.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
}

MenuItem:hover{
  background: transparent;
}
.menu-anchor:hover {
  background-color: red !important;
  font-weight: bolder;
}

.menu-label {
  font-size: 13px;
}
.sb-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px;
}
.sidebar{
    justify-content: space-between;
    flex-wrap: wrap;
}
.submenu-items{
  background-color: #8fa6e9;
}
a.ps-menu-button{
  flex-wrap: wrap;
}
a.ps-menu-button:hover{
  background: transparent !important;
}
@media (min-width: 480px) {
  .sb-button {
    display: none;
    }
}
@media (max-width: 1023px){
    a.ps-menu-button{
        display: flex;
        flex-direction: column;
    }
    Menu.Item{
        margin-bottom: 5px;
    }
}