*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", -"apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.main-container{
    display: flex;
    width: 100%;
}
div.ps-sidebar-container{
    position: fixed;
    width: 20%;
}
.sidebar-container{
    width: 20%;
    height: 100vh;
    /* background-color: #4A6FDC; */
}
.app-container{
    width: 80%;
    height: 100vh;
}
@media (max-width: 480px) {
    .app-container{
        width: 100%;
    }
    /* .sidebar-container{
        width: 0;
    } */
}
